.dashboard{
    width: 85%;
    margin: auto;
}

.transactions{
    /* border: 1px solid green */
}



.data{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 1px solid red */
}


.graph{
    /* display: flex; */
    /* justify-content: center; */
    width: 44%;
    /* border: 1px solid blue; */
    background: white;
    box-shadow: 0 0 5px;
    padding: 3% 2% 3% 2%;
}