.credentials {
    width: 35%;
    margin: auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.credentials form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 30%;
    padding: 5%;
    border: 1px solid blue;
}